<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

  <title>Power Toggler</title>
</head>

<body>
  <div class="container-fluid vh-100 d-flex flex-column justify-content-center">
    <div class="row justify-content-center">
      <div class="col-6">
        <div class="card">
          <div class="card-header container-fluid">
            <div class="row">
              <div class="col-md-8">
                <a class="text-decoration-none" href="/">
                  <h5 class="pt-1">Power Toggler</h5>
                </a>
              </div>
              <div class="col-md-4">
                <div class="float-right">
                  <div class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">
                      {{ .machine }}
                    </button>
                    <div class="dropdown-menu">
                      {{ range $machine := .machines }}
                      <a class="dropdown-item" href="/host/{{ $machine }}">{{ $machine }}</a>
                      {{ end }}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="card-body">
            <table class="table table-borderless">
              <tbody>
                <tr>
                  <td><b>Name</b></td>
                  <td>{{ .name }}</td>
                </tr>
                <tr>
                  <td><b>Description</b> </td>
                  <td>{{ .desc }}</td>
                </tr>
                <tr>
                  <td><b>Hostname</b></td>
                  <td>{{ .hostname }}</td>
                </tr>
              </tbody>
            </table>
            <div class="row">
              <div class="container">
                <button type="button" class="btn btn-danger" onclick="fire({{ .machine }})">Power Toggle</button>
              <button type="button" class="btn btn-secondary" onclick="checkStatus({{ .machine }})">Check Status</button>
              </div>
            </div>
<pre id="status" class="mt-2" style="background-color: #ddd;">
</pre>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
    integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

<script>
async function checkStatus(machine) {
  $("#status").text("");
  let response = await fetch(`/host/${machine}/ping`);
  let text = await response.text();
  $("#status").text(text);
}

async function fire(machine) {
  $("#status").text("");
  let response = await fetch(`/host/${machine}/fire`);
  let text = await response.text();
  $("#status").text(text);
}
</script>

</html>